
/*Ship 1*/
#ship1Part1{
    -fx-image: url('jerma.jpg');
}

/*Ship 2*/
#ship2Part1{
    -fx-image: url('jerma.jpg');
}

#ship2Part2{
    -fx-image: url('jerma.jpg');
}

/*Ship 3*/
#ship3Part1{
    -fx-image: url('jerma.jpg');
}

#ship3Part2{
    -fx-image: url('jerma.jpg');
}

#ship3Part3{
    -fx-image: url('jerma.jpg');
}

/*Ship 4*/
#ship4Part1{
    -fx-image: url('jerma.jpg');
}

#ship4Part2{
    -fx-image: url('jerma.jpg');
}

#ship4Part3{
    -fx-image: url('jerma.jpg');
}

#ship4Part4{
    -fx-image: url('jerma.jpg');
}

/*Ship 5*/
#ship5Part1{
    -fx-image: url('jerma.jpg');
}

#ship5Part2{
    -fx-image: url('jerma.jpg');
}

#ship5Part3{
    -fx-image: url('jerma.jpg');
}

#ship5Part4{
    -fx-image: url('jerma.jpg');
}

#ship5Part5{
    -fx-image: url('jerma.jpg');
}