@font-face {
    src: url('sans-font.ttf');
}
.root{
    -fx-background-image: url("sea.png");
    -fx-background-size: 100% 100%;
}
.label{
    -fx-font-family: 'Pixel Comic Sans (Undertale Sans Font)';
    -fx-text-fill: #000000;
    -fx-font-style: normal;
}
.button{
    -fx-background-color: #8bc2c2;
    -fx-font-family: 'Pixel Comic Sans (Undertale Sans Font)';
    -fx-text-fill: #000000;
}